<div>
    <div style="background-color: transparent; display: flex; justify-content: center;">
    
        <table style="background-color: whitesmoke;">
            <tr>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Idade</th>
                <th>Cidade/Estado</th>
                <th>Profissão</th>
                <th>Salário</th>
            </tr>
            <tr *ngFor="let aux of peoples">
                <td>{{ aux.nome }}</td>
                <td>{{ aux.sobrenome }}</td>
                <td>{{ aux.idade }}</td>
                <td>{{ aux.cidadeEstado }}</td>
                <td>{{ aux.profissao }}</td>
                <td>{{ aux.salario }}</td>
            </tr>
        </table>
    
    </div>
    
</div>