<mat-toolbar class="mat-elevation-z5" >
    <strong>
        <a routerLink="/">PixPay</a>
    </strong>
    <span class="material-icons">
        favorite
    </span>
    <span>
        <a routerLink="/" class="toolbar"> Login  </a>
        <a routerLink="new-user" class="toolbar"> Criar Conta  </a>
    </span>
    <span>
        <a class="toolbar"> Geral  </a>
        <a class="toolbar">Movimentações</a>
        <a class="toolbar">Painel de Controle</a>
        <a class="toolbar">Sair</a>       
    </span>
  </mat-toolbar>
