<div class="container">
  <br>
  <mat-card class="header mat-elevation-z10">
    <strong>Dados da Conta</strong>
  </mat-card>
  <br>
  <mat-card class="container2 mat-elevation-z8"> 
    <form>
        <mat-form-field appearance="fill">
          <mat-label>
            <strong>Nome</strong>
          </mat-label>
          <input matInput placeholder="Digite seu nome" [formControl]="nome" required [(ngModel)]="login.name"> 
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>
            <strong>Sobrenome</strong >
          </mat-label>
          <input matInput placeholder="Digite seu sobrenome" [formControl]="nome" required [(ngModel)]="login.sobrenome">
        </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>
          <strong>Digite seu e-mail</strong>
        </mat-label>
        <input matInput placeholder="exemplo@exemplo.com" [formControl]="email" required [(ngModel)]="login.email">
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>
          <strong>Cidade/UF</strong>
        </mat-label>
        <input matInput placeholder="Digite sua Cidade/UF" [formControl]="nome" required [(ngModel)]="login.cidadeEstado">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>
          <strong>Profissão</strong >
        </mat-label>
        <input matInput placeholder="digite sua Profissão" [formControl]="nome" required [(ngModel)]="login.profissao">
      </mat-form-field>
        <button (click)="createLogin()" mat-raised-button color="primary">
          Salvar
        </button>
        <button mat-raised-button>
          Cancelar
        </button>
      </form>
  </mat-card>
</div>
