<mat-toolbar class="mat-elevation-z5" style="background-color: rgb(164, 49, 209); display: flex; justify-items: center; justify-content: center;">
    <button>
        <a routerLink="/">PixPay</a>
    </button>
    <button> <a routerLink="/"> Login  </a> </button>
    <button> <a routerLink="new-user"> Criar Conta  </a> </button>
    <button> <a> Geral </a> </button>
    <button> <a> Movimentações </a> </button>
    <button> <a> Dashboard </a> </button>
    <button> <a> Sair </a> </button>
</mat-toolbar>