<mat-toolbar class="mat-elevation-z5" style="background-color: #232764; display: flex; justify-items: center; justify-content: center;">
    <button routerLink="/"> <span> PixPay </span> </button>
    <button routerLink="/"> <span> Login  </span> </button>
    <button routerLink="new-user"> <span> Criar Conta  </span> </button>
    <button routerLink="/dashboard"> <span> Dashboard </span> </button>
    <button routerLink="rates"> <span> Taxas </span> </button>
    <button routerLink="/formulario"> <span> Formulário </span> </button>
    <button routerLink="calculations"> <span> Cálculos </span> </button>
</mat-toolbar>