<mat-toolbar class="mat-elevation-z5" style="background-color: rgb(164, 49, 209); display: flex; justify-items: center; justify-content: center;">
    <button routerLink="/"> <span> PixPay </span> </button>
    <button routerLink="/"> <span> Login  </span> </button>
    <button routerLink="new-user"> <span> Criar Conta  </span> </button>
    <button routerLink='/dashboard'> <span> Dashboard </span> </button>
    <button> <span> Movimentações </span> </button>
    <button> <span> Dashboard </span> </button>
    <button> <span> Sair </span> </button>
</mat-toolbar>