/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; background: fixed; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    background-color: #FFF;
    width: 30rem;
    height: 40rem;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: auto;
}

.center {
    display: flex;
    justify-content: center;
}